.header-section {
  width: 100vw;
  height: 80px;
  display: grid;
  grid-template-columns: 50vw 50vw;
  align-items: center;
  position: fixed;
  z-index: 100;
}

.left-side {
  font-size: 30px;
  font-weight: 700;
  padding-left: 150px;
}

.right-side {
  display: flex;
  font-weight: 700;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 50px;
  gap: 4vw;
}

.menu-item {
  display: flex;
  justify-content: space-around;
  gap: 4vw;
}

.right-side p {
  margin: 0;
  padding: 0;
  cursor: pointer;
  animation: fly-in 2s ease-in-out;
}

.right-side img {
  width: 18px;
  height: 18px;
  animation: fly-in 2s ease-in-out;
  cursor: pointer;
}

.right-side p:hover {
  color: #3ecff0;
  text-shadow: 1px 1px 24px #3ecff0;
}

@keyframes fly-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 2560px) {
  .header-section {
    height: 120px;
  }
  .left-side {
    font-size: 60px;
  }
  .right-side p {
    font-size: 30px;
  }
  .right-side img {
    width: 30px;
    height: 30px;
  }
}

.hamburger {
  display: none;
}

@media (max-width: 1200px) {
  .right-side {
    justify-content: flex-end;
  }
  .hamburger {
    display: flex;
    cursor: pointer;
  }
  .menu-item {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    gap: 4vw;
  }
  .menu-item.open {
    top: 70px;
    position: absolute;
    display: flex;
    background-color: rgba(255, 255, 255, 0.051);
    backdrop-filter: blur(5px);
    padding: 20px 100px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px black;
  }
}
