.resume-wrapper {
  padding: 20vh 15vw 10vh;
}

.resume-button-wrapper {
  margin: 10vh 10vw;
  text-align: center;
}
.resume-button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 30px;
  width: 20vw;
  cursor: pointer;
  border: 2px solid #3ecff0;
  background-color: #3ecff0;
  transition: 1s;
}
.resume-button:hover {
  filter: drop-shadow(0px 0px 20px #3ecff0);
}
